<h2>{{welcome}}</h2>
{{name}}<br>
{{lastName}}<br>
{{age}}<br>
{{email}}<br>
<br>
{{rol}}<br>

<form  action="" id="formLogout">
<button type="submit" id="logoutButton">Logout</a></button>
</form>
<br>
<a href="http://localhost:8080/current">Sesion actual</a>
<br>
<a href="http://localhost:8080/">Inicio</a>
<br>
{{#if ifAdmin}}
<a href="http://localhost:8080/usuarios">Ver usuarios</a>
{{else}}

{{/if}}

<script src="js/perfil.js"></script>